configobj
Django>=1.11,<2.0
django-auth-ldap>=1.2.12
django-restricted-resource>=2016.8
django-tables2>=1.14.2
django-testscenarios
djangorestframework
docutils>=0.6
file-magic
gunicorn
Jinja2
junit-xml>=1.8
netifaces>=0.10.0
nose
pexpect>=4.2.0
psycopg2
pytest-cov
pytest-django
pytest
python-dateutil
pytz
pyudev>=0.21.0
PyYAML>=4.2b4
pyzmq
requests
simplejson
tap
voluptuous>=0.8.8
